.detalhesEvento{
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
	width: 50%;
}

.formConvidado{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
	width: 50%;
}

.tabelaConvidado{
	width: 50%;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.formEvento{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.menu{
	background-color: #3399ff;
}

nav a {
	margin-left: 30px;
}